.written {
  font-family: "FiveSerifLightItalic";
  display: inline;

  font-size: 110px;
}
.wrapper {
  padding: 5vh;
}

.lineup {
  margin: 0;
}

.artistLineup {
  line-height: 2;
  display: flex;
  justify-content: flex-end;
  text-align: justify;
  width: 100%;
}

.artistLineup > div {
  flex-basis: 50%;
}
.rightAligned {
  display: inline;
}

.gridImages {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grey {
  background-color: #bfbda8;
}

.blue {
  background-color: #cad2e9;
}

.yellow {
  background-color: #dbf905;
}

.gridImages img {
  width: 100%;
}

.artistInfoFlex {
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-around;
}

.artistInfo {
  flex-basis: 50%;
  padding: 1rem;
}

.bandMembers {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bandMembers h4 {
  margin-bottom: 0.8rem;
}

.artistImage {
  width: 30rem;
  object-fit: contain;
}

@media (max-width: 768px) {
  .gridImages {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .artistLineup > div {
    flex-basis: 100vw;
  }

  .artistLineup {
    padding-bottom: 8rem;
  }

  .hidden {
    display: none;
  }

  .written {
    font-size: 1em;
  }

  .wrapper {
    padding: 2rem;
  }

  .wrapper h1 {
    font-size: 4em;
    margin-bottom: 0;
  }

  .artistInfoFlex {
    flex-direction: column-reverse;
    padding-bottom: 6rem;
  }

  .artistInfo {
    flex-basis: 50%;
    padding: 1rem;
  }

  .artistImage {
    width: 100%;
    object-fit: contain;
  }
}
